@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
    --font-family: 'Noto Sans', sans-serif;
    --MainPolyPurple: #501d83;
}

html, body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
    }

div {
  margin: 0;
}

.mid{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-family: var(--font-family);
  border-radius: 20px;
  background-color:var(--MainPolyPurple);
  width: 25vh;
  height: 25vh;
  color: white;
  text-align: center;
  padding: 20px;

}
