<html lang = "en">
  <body>
    <div>
      <div class = "mid">

        <div class = "leftLogin">
          <div>
            <span> welcome to <br> </span>
            <span class="titleText"> PolyNav </span>
          </div>
          <div> </div>
          <div>
            <span> dont have an account? <br> </span>
            <button class="registerButton">Register</button>
          </div>

        </div>

        <div class = "rightLogin">
          <div class = "titleText" style="color: black">Sign In</div>
          <div>
            <span> username <br> </span>
            <input class="loginInput" type="text" placeholder="username">
            <span> password <br> </span>
            <input class="loginInput" type="password" placeholder="password">
          </div>
          <button class="loginButton">Sign In</button>
        </div>

      </div>
    </div>
  </body>
</html>
