<html lang = "en">
  <body>
    <div>
      <div class = "mid">

        <div class = "leftLogin">
          <br>
          <br>
          <br>
          <div>
            <span class="subTextRegister" style="bottom: 70%"> welcome to <br> </span>
            <span class="titleText" style="bottom: 50%;"> PolyNav </span>
          </div>

          <br>
          <div>
            <span class="subTextRegister"> dont have an account? <br> </span>
            <button class="registerButton" (click)="goToRegister()">Register</button>
          </div>

        </div>

        <div class = "rightLogin">

          <div class="titleText" style="color: black; font-size: 2vw; bottom: 65%;">Sign In</div>
          <div>
            <!-- <span> username <br> </span> -->
            <input class="loginInput" type="text" placeholder="username" style="bottom: 50%">
            <!-- <span> password <br> </span> -->
            <input class="loginInput" type="password" placeholder="password" style="bottom: 35%">
          </div>
          <button class="loginButton">Sign In</button>
        </div>

      </div>
    </div>
  </body>
</html>
