<html lang = "en">
  <body>
    <div>
      <div class = "mid">

        <div class = "leftLogin">
          <div>
          <span> welcome to <br> </span>
          <span class="titleText"> PolyNav </span>
          </div>
          <div>
          <span> dont have an account? </span>
          <button class="registerButton">Register</button>
          </div>

        </div>

        <div class = "rightLogin">
          <div>
          <input class="loginInput" type="text" placeholder="username">
          <input class="loginInput" type="password" placeholder="password">
          </div>
          <button class="loginButton">Sign In</button>
        </div>

      </div>
    </div>
  </body>
</html>
