<html lang="en">
  <body>

    <div class = "leftSide">
      <div class = "titleBox">
        <span class="titleText">Polynav</span>
      </div>
      <div class="originDestinationBox">
        <div class="graphics">
          <img src="destinationIcon.png" alt="destination icon">
          <img src="pathIcon.png" alt="path icon">
          <img src="homeIcon.png" alt="home icon">
        </div>
        <div class="destinationInput">
          <input class="desInput" placeholder="Origin">
          <input class="desInput" placeholder="Destination">
        </div>
      </div>
    </div>

    <div class="rightSide" >

      <img src="mapExample.png">
    </div>

  </body>
</html>
